<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.randing.system.mapper.LandApplyScoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.randing.system.domain.po.LandApplyScore">
        <result column="id" property="id" />
        <result column="land_apply_unit_score_attach" property="landApplyUnitScoreAttach" />
        <result column="land_apply_unit_score" property="landApplyUnitScore" />
        <result column="research_directions_score_attach" property="researchDirectionsScoreAttach" />
        <result column="research_directions_score" property="researchDirectionsScore" />
        <result column="start_research_activity_score_attach" property="startResearchActivityScoreAttach" />
        <result column="start_research_activity_score" property="startResearchActivityScore" />
        <result column="land_quit_land_restore_score_attach" property="landQuitLandRestoreScoreAttach" />
        <result column="land_quit_land_restore_score" property="landQuitLandRestoreScore" />
        <result column="drive_land_grow_score_attach" property="driveLandGrowScoreAttach" />
        <result column="drive_land_grow_score" property="driveLandGrowScore" />
        <result column="on_land_transform_score_attach" property="onLandTransformScoreAttach" />
        <result column="on_land_transform_score" property="onLandTransformScore" />
        <result column="land_fulfill_promise_score_attach" property="landFulfillPromiseScoreAttach" />
        <result column="land_fulfill_promise_score" property="landFulfillPromiseScore" />
        <result column="sum_score" property="sumScore" />
        <result column="apply_form_id" property="applyFormId" />
        <result column="apply_form_type" property="applyFormType" />
        <result column="record_each_score_by_order" property="recordEachScoreByOrder" />
        <result column="del_flag" property="delFlag" />
        <result column="create_user" property="createUser" />
        <result column="create_time" property="createTime" />
        <result column="update_user" property="updateUser" />
        <result column="update_time" property="updateTime" />
        <result column="score_reason" property="scoreReason" />
        <result column="adjustment_score" property="adjustmentScore" />
        <result column="research_sbdw" property="researchSbdw" />
        <result column="new_varieties_score" property="newVarietiesScore" />
        <result column="new_technique_score" property="newTechniqueScore" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        land_apply_unit_score_attach, land_apply_unit_score, research_directions_score_attach, research_directions_score, start_research_activity_score_attach, start_research_activity_score, land_quit_land_restore_score_attach, land_quit_land_restore_score, drive_land_grow_score_attach, drive_land_grow_score, on_land_transform_score_attach, on_land_transform_score, land_fulfill_promise_score_attach, land_fulfill_promise_score, sum_score, apply_form_id, apply_form_type, record_each_score_by_order, del_flag, create_user, create_time, update_user, update_time, score_reason, adjustment_score, research_sbdw, new_varieties_score, new_technique_score
    </sql>

</mapper>
