<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.randing.system.mapper.NanfanLandApplyFormMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.randing.system.domain.vo.base.NanfanLandApplyFormVo">
        <result column="id" property="id" />
        <result column="land_apply_unit" property="landApplyUnit" />
        <result column="input_person" property="inputPerson" />
        <result column="land_apply_area" property="landApplyArea" />
        <result column="land_apply_type" property="landApplyType" />
        <result column="land_apply_address" property="landApplyAddress" />
        <result column="rely_project_source" property="relyProjectSource" />
        <result column="rely_project_name" property="relyProjectName" />
        <result column="land_apply_reson" property="landApplyReson" />
        <result column="budget" property="budget" />
        <result column="apply_unit_opinion_leader_opinion" property="applyUnitOpinionLeaderOpinion" />
        <result column="apply_unit_opinion_seal" property="applyUnitOpinionSeal" />
        <result column="apply_unit_opinon_date" property="applyUnitOpinonDate" />
        <result column="holding_unit_business_opinion" property="holdingUnitBusinessOpinion" />
        <result column="holding_unit_business_leader_sign" property="holdingUnitBusinessLeaderSign" />
        <result column="holding_unit_leader_opinion" property="holdingUnitLeaderOpinion" />
        <result column="holding_unit_leader_sign" property="holdingUnitLeaderSign" />
        <result column="holding_unit_leader_date" property="holdingUnitLeaderDate" />
        <result column="land_apply_person_cantact" property="landApplyPersonCantact" />
        <result column="del_flag" property="delFlag" />
        <result column="holding_unit_business_leader_date" property="holdingUnitBusinessLeaderDate" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
        <result column="backup1" property="backup1" />
        <result column="backup2" property="backup2" />
        <result column="backup3" property="backup3" />
        <result column="backup4" property="backup4" />
        <result column="backup5" property="backup5" />
        <result column="back_msg" property="backMsg" />
        <result column="land_apply_purpose" property="landApplyPurpose" />
        <result column="land_apply_reson_attach" property="landApplyResonAttach" />
        <result column="infor_id" property="inforId" />
        <result column="land_apply_year" property="landApplyYear" />
        <result column="land_security_fund" property="landSecurityFund" />
        <result column="is_adjust" property="isAdjust" />
        <result column="sum_score" property="sumScore" />
        <result column="batch_id" property="batchId" />
        <result column="batch_name" property="batchName" />
        <result column="apply_label" property="applyLabel" />
        <result column="conversion" property="conversion" />
        <result column="train" property="train" />

        <result column="timeEnough" property="time_enough" />
        <result column="timeEnoughTime" property="time_enough_time" />
        <result column="renewal" property="renewal" />
        <result column="renewalQuarter" property="renewal_quarter" />
        <result column="leaseMethod" property="lease_method" />
        <result column="longLeaseTime" property="long_lease_time" />
        <result column="pushTime" property="push_time" />

        <result column="land_infor_name" property="landInforName"/>
        <result column="land_infor_id" property="landInforId"/>

        <!--评分start-->
        <result column="land_apply_unit_score_attach" property="landApplyUnitScoreAttach" />
        <result column="land_apply_unit_score" property="landApplyUnitScore" />
        <result column="research_directions_score_attach" property="researchDirectionsScoreAttach" />
        <result column="research_directions_score" property="researchDirectionsScore" />
        <result column="start_research_activity_score_attach" property="startResearchActivityScoreAttach" />
        <result column="start_research_activity_score" property="startResearchActivityScore" />
        <result column="land_quit_land_restore_score_attach" property="landQuitLandRestoreScoreAttach" />
        <result column="land_quit_land_restore_score" property="landQuitLandRestoreScore" />
        <result column="drive_land_grow_score_attach" property="driveLandGrowScoreAttach" />
        <result column="drive_land_grow_score" property="driveLandGrowScore" />
        <result column="on_land_transform_score_attach" property="onLandTransformScoreAttach" />
        <result column="on_land_transform_score" property="onLandTransformScore" />
        <result column="land_fulfill_promise_score_attach" property="landFulfillPromiseScoreAttach" />
        <result column="land_fulfill_promise_score" property="landFulfillPromiseScore" />
        <result column="sum_score" property="sumScore" />
        <result column="apply_form_id" property="applyFormId" />
        <result column="apply_form_type" property="applyFormType" />
        <result column="record_each_score_by_order" property="recordEachScoreByOrder" />
        <result column="score_reason" property="scoreReason" />
        <result column="adjustment_score" property="adjustmentScore" />
        <result column="research_sbdw" property="researchSbdw" />
        <result column="new_varieties_score" property="newVarietiesScore" />
        <result column="new_technique_score" property="newTechniqueScore" />

        <result column="oper_type" property="operType" />
        <result column="oper_content" property="operContent" />
        <result column="oper_time" property="operTime" />

        <!--评分end-->
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        land_apply_unit, input_person, land_apply_area, land_apply_type, land_apply_address, rely_project_source, rely_project_name, land_apply_reson, budget, apply_unit_opinion_leader_opinion, apply_unit_opinion_seal, apply_unit_opinon_date, holding_unit_business_opinion, holding_unit_business_leader_sign, holding_unit_leader_opinion, holding_unit_leader_sign, holding_unit_leader_date, land_apply_person_cantact, del_flag, holding_unit_business_leader_date, create_time, create_user, update_time, update_user, backup1, backup2, backup3, backup4, backup5, back_msg, land_apply_purpose, land_apply_reson_attach, infor_id, land_apply_year, land_security_fund, is_adjust, sum_score, batch_id, batch_name, apply_label, conversion, train
    </sql>

    <select id="getKeepApplay" resultMap="BaseResultMap">
        select c.*, d.land_infor_id
            d_infor_id,
            e.land_name land_infor_name,
            g.oper_type,
            g.oper_content,
            g.oper_time,
            f.*
        from nanfan_land_apply_form as c
--          LEFT JOIN land_contract as lc on c.id = lc.apply_id
            LEFT JOIN land_infor_usage as d on c.id = d.apply_id
            LEFT JOIN land_infor as e on d.land_infor_id = e.id
            LEFT JOIN land_apply_score as f on c.id = f.apply_form_id
            LEFT JOIN land_apply_oper as g on c.id = g.apply_form_id
        ${ew.customSqlSegment}
    </select>
</mapper>
