<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.randing.system.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.randing.common.core.domain.entity.SysUser">
        <result column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="email" property="email"/>
        <result column="phone" property="phone"/>
        <result column="role_id" property="roleId"/>
        <result column="lastlogin_time" property="lastloginTime"/>
        <result column="pwd_update_time" property="pwdUpdateTime"/>
        <result column="status" property="status"/>
        <result column="del_flag" property="delFlag"/>
        <result column="remark" property="remark"/>
        <result column="user_type" property="userType"/>
        <result column="project_id" property="projectId"/>
        <result column="unit_type" property="unitType"/>
        <result column="unit_name" property="unitName"/>
        <result column="unit_id" property="unitId"/>
        <result column="positon" property="positon"/>
        <result column="is_pr_owner" property="isPrOwner"/>
        <result column="is_site_owner" property="isSiteOwner"/>
        <result column="relate_site" property="relateSite"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
<!--        <association property="menu" column="dept_id" javaType="sysMenu"/>-->
        <collection property="roles" javaType="java.util.List"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,unit_id,
        account, user_name, password, email, phone, role_id,
        lastlogin_time, pwd_update_time, status, del_flag, remark, user_type,
        project_id, unit_type, unit_name, positon, is_pr_owner, is_site_owner,
        relate_site, create_by, create_time, update_by, update_time
    </sql>

    <update id="updatePwd">
        UPDATE
        sys_user
        <set>
            <if test="password != null and password != ''">`password`=#{password},</if>
            update_time = #{pwdUpdateTime},
            pwd_update_time = #{pwdUpdateTime}
        </set>
        WHERE account=#{userName}
    </update>

    <!--
        <update id="activateAccount">
            update sys_user set password = #{password},status = 0 where account = #{account}
        </update>
    -->

    <select id="selectUserByAccount" resultType="com.randing.common.core.domain.entity.SysUser">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        sys_user
        WHERE
        del_flag = 0
        /*AND status = 0*/
        AND (account = #{account} or id=#{account} or email=#{account})
    </select>

    <select id="findByUserNameAndEmali" resultType="com.randing.common.core.domain.entity.SysUser">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        sys_user
        WHERE
        del_flag = 0
        AND
        sys_user.account = #{userName}
    </select>

    <select id="findPrUser" resultType="com.randing.common.core.domain.entity.SysUser">
        SELECT us.id,us.account,us.user_name,null as `password`,us.active_code,us.email,us.phone,
        rl.role_id,role.`name` as role_name,us.lastlogin_time,us.pwd_update_time,us.`status`,
        us.del_flag,us.remark,us.user_type,rl.pr_id project_id,ut.unit_type,
        ut.unit_id,ut.unit_name,ut.other_unit_name,us.is_pr_owner,us.is_site_owner,ut.relate_site,
        us.create_by,us.create_time,us.update_by,us.update_time, rl.status as proj_user_status
        FROM `sys_user` us
        join pr_user_role rl on us.id = rl.user_id and rl.pr_id=#{prId}
        join sys_role role on rl.role_id=role.id
        join pr_user_unit ut on us.id = ut.user_id and ut.pr_id=#{prId}
        join project pr on pr.id=us.project_id and pr.admin_id!=us.id
        where us.del_flag=0 and rl.del_flag=0 and ut.del_flag=0
        <if test="account != null and account != ''">
            and us.account like CONCAT('%',CONCAT(#{account},'%'))
        </if>
        <if test="userName != null and userName != ''">
            and us.user_name like CONCAT('%',CONCAT(#{userName},'%'))
        </if>
        <if test="email != null and email != ''">
            and us.email like CONCAT('%',CONCAT(#{email},'%'))
        </if>
        <if test="unitType != null and unitType != ''">
            and ut.unit_type=#{unitType}
        </if>
        <if test="unitName != null and unitName != ''">
            and ut.unit_name like CONCAT('%',CONCAT(#{unitName},'%'))
        </if>
        <if test="roleId != null and roleId != ''">
            and role.id = #{roleId}
        </if>
    </select>

    <select id="userNameRetrieval" resultType="java.lang.String">
        SELECT
        account
        FROM
        sys_user
        <where>
            <if test="email != null and email != ''">
                AND email=#{email}
            </if>
            <if test="userType != null and userType != ''">
                AND user_type = #{userType}
            </if>
            <if test="projectId != null and projectId != ''">
                AND project_id = #{projectId}
            </if>
            AND del_flag = 0
        </where>

    </select>
    <select id="selectUserList" resultType="com.randing.common.core.domain.entity.SysUser">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        sys_user
        WHERE
        del_flag =0
    </select>


</mapper>
